<% layout('layout/page') -%>
<% block('title', 'Title from block system') %>
<% block('header', 'I am your header') %>
<% block('footer', 'I am your footer') %>

<p><%= user.get('username')%></p>
<p class="status"></p>
<div id="room">
  <form>
    <input class="form-control" autocomplete="off" autofocus placeholder="Message...">
  </form>
  <ul></ul>
</div>

<script src="/libs/bower_components/socket.io-client/dist/socket.io.js"></script>
<script>
  
  var socket = io('', {
    reconnectionDelay: 1
  });

  var $form = $('#room form');
  var $ul = $('#room ul');
  var input = $form.find('input');

  socket
        .on('message', function (username, message) {
          printMessage(username + " > " + message);
        })
        .on('join', function(username) {
          printStatus(username + ' joined the chat');
        })
        .on('leave', function(username) {
          printStatus(username + ' left the chat');
        })
        .on('connect', function() {
          printStatus('Connection established');
          $form.on('submit', sendMessage);
          input.prop('disabled', false);
        })
        .on('disconnect', function() {
          printStatus('Connection closed');
          $form.off('submit', sendMessage);
          input.prop('disabled', true);
        })
        .on('reconnect_failed', function() {
          alert('Socket is closed completely');
        })

 function printMessage(message) {
    $('<li>', {text: message}).appendTo($ul);
 }

 function printStatus(message) {
   $('.status').text('');
   $('.status').text(message);
 }

 function sendMessage() {
    var text = input.val();

    input.val('');

    socket.emit('message', text, function() {
      printMessage(text);
    });

    return false;
 }
</script>