<% layout('layout/page') -%>
<!--<% script('script here') -%>-->
<!--<% stylesheet('stylesheet here') -%>-->
<% block('title', 'Title from block system') %>
<% block('header', 'I am your header') %>
<% block('footer', 'I am your footer') %>

<p>Hello to my index page</p>
<!--Here we can add html with transfered values from app.js file-->