<% layout('layout/page') -%>
<% block('title', 'Title from block system') %>
<% block('header', 'I am your header') %>
<% block('footer', 'I am your footer') %>

<h1>Login or register</h1>
<p>If there is no user - one will be created</p>

<form class="form-horizontal login-form" name="login-form">
    <div class="form-group">
        <label for="input-username" class="col-lg-2 control-label">Name</label>

        <div class="col-lg-10">
            <input name="username"  value="name" type="text" class="form-control" 
                                                        id="input-username" placeholder="Name">
        </div>
    </div>
    <div class="form-group">
        <label for="input-password" class="col-lg-2 control-label">Password</label>

        <div class="col-lg-10">
            <input name="password"  value="password" type="password" class="form-control" 
                                                        id="input-password" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary" data-holding-text="Sending...">Send</button>
            <span class="help-block error"></span>
        </div>
    </div>
</form>

<script>
    $(document.forms['login-form']).on('submit', function(e) {
        e.preventDefault();
        var $form = $(this);

        $('.error', $form).html('');
        $(':submit', $form).button('loading');

        $.ajax({
            url: '/login',
            method: 'POST',
            data: $form.serialize(),
            complete: function(jqXHR) {
                $(':submit', $form).button('reset');
                if(jqXHR.status === 200) {
                    $form.html('You entered the site').addClass('alert-success');
                    window.location.href='/chat';
                } else if (jqXHR.status === 403 || jqXHR.status === 404) {
                    if(typeof jqXHR.responseText === 'string')  {
                        $('.error', $form).html(jqXHR.responseText);
                    } else {
                        var error = JSON.parse(jqXHR.responseText);
                        $('.error', $form).html(error.message);
                    }
                }
            }
        });
    })
</script>